/* src/PersonalCard.css */
* {
  margin-top: 15px;
  background-color: #f1f1f1;
}

.personal-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  max-width: 300px;
  margin: 0 auto;
  background-color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2px;
}

h2 {
  font-size: 24px;
  margin: 0;
  background-color: transparent;
}

p {
  font-size: 18px;
  margin: 5px 0 2;
  background-color: transparent;
}

.social-icons {
  margin-top: 20px;
  background-color: transparent;
}

.social-icons a {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
  background-color: transparent;

}

.social-icons a i {
  background-color: transparent;
}

.social-icons a:hover {
  color: #007bff;
}